footer {
    background-color: #1c1f21;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;

    b {
        color: #787d82;

    }

    span {
        color: #c8cdd2;
    }
}
